body {
    background-image: url("../Imagem/depositphotos_165152942-stock-photo-motorcycle-driver-riding-in-alpine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
  }
  

  /* Centraliza o título e muda a cor para branco */
  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
 /* Cria uma caixa branca com bordas arredondadas e sombra para o formulário */
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  /* Alinha os elementos do formulário à esquerda e adiciona espaçamento entre eles */
  p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  /* Define o tamanho e a cor dos rótulos dos campos */
  label {
    width: 150px;
    font-weight: bold;
    color: #333;
  }

  /* Define o tamanho e o estilo dos campos de entrada */
  input, select, textarea {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  /* Define o tamanho e a cor dos botões */
  input[type="submit"] {
    width: 100px;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  .botao {

    width: 150px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin: 10px;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 90px;
    
  }
  #lista{
    box-shadow: none;
    margin-left: -10px;
  }
  a[href="index.html"]{
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  .botao:hover{
    color: #666;
  }